/* frontend/src/pages/Register.css */

.register-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Ajusta por la altura de la Navbar */
    background-color: var(--background-light);
    padding: var(--spacing-lg);
    box-sizing: border-box;
}

/* Para manejar el espacio cuando no hay navbar visible (ej: antes de login) */
.register-page-full-height {
    min-height: 100vh;
}